@font-face {
  font-family: 'Roboto-Slab';
  src: local('Roboto-Slab'), url(../fonts/RobotoSlab-VariableFont_wght.ttf) format('truetype')
}

.App {
  text-align: center;
  font-family: Roboto-Slab;
}

.App-header {
  background-color: burlywood;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.VideoPlayer {
  padding: 10px;
}

.VideoInfo
  .Title {
    font-size: x-large;
  }

  .Author {
    margin-left: 100px;
    font-size: medium;
  }

.NewVidButton {
  margin: 20px;
}

.AddVideo
  .UploadErrorMessage {
    color: crimson;
  }

  .UploadNote {
    font-size: small;
  }