.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.VideoPlayer {
  padding: 25px;
}

.VideoInfo
  .Title {
    margin: 10px;
    font-size: large;
  }

  .Author {
    margin-left: 50px;
    font-size: medium;
  }

.NewVidButton {
  margin: 15px;
}

.AddVideo
  .UploadErrorMessage {
    color: crimson;
  }

  .UploadNote {
    font-size: small;
  }